body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}
.login-page {
  display: flex;
  text-align: center;
  margin-top: 75px;
}
.login-leftcontent {
  padding-top: 130px;
  padding-left: 10%;
  padding-right: 5%;
  margin-left: 60px;
}
.profile-page-main {
  overflow: hidden;
}
.heading {
  height: 0%;
  text-align: start;
  color: #1877f2;
  font-family: inherit;
  padding-bottom: 20px;
  margin-right: 40px;
  font-size: 50px;
  font-weight: bold;
}
.paragraph-leftcontent {
  height: 0%;
  text-align: start;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
  padding-top: 10px;
}
.login-Rightcontent {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 396px;
}
.Login-box {
  font-family: inherit;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  vertical-align: middle;
  border-radius: 8px;
  border-width: 0.5px;
  border-color: #e0e4e9;
  border-style: solid;
}
.Login-submit {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  width: 370px;
  color: white;
  text-align: center;
}
.forgotten-password-link {
  text-decoration: none;
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  line-height: 1.34;
}
.bottom-border-forgotpass {
  border-top: 1px solid #dddfe3;
}
.button-newaccount {
  padding-top: 0px;
  margin-top: 1px;
}
.button-newaccount-submit {
  background-color: #36a420;
  color: white;
  height: 45px;
  border-radius: 1px;
  margin-top: 25px;
  font-family: inherit;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  padding: 0 16px;
  font-weight: bold;
}
.login-bellowtext {
  margin-top: 30px;
}

.header-forgotpass {
  font-family: inherit;
  display: flex;
  box-sizing: border-box;
  top: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 7vh;
  border-bottom: 1px solid #dddfe3;
  color: #1c1e21;
}

.header-forgotpass > h1 {
  color: #1877f2;
  padding-left: 8px;
  margin-top: 8px;
  cursor: pointer;
}
.form-forgotpass {
  margin-left: 300px;
  margin-top: 8px;
  padding-left: 30%;
  border-radius: 10px;
  border-color: #dddfe3;
}
.Emailform-forgotpass {
  height: 32px;
  width: 160px;
  font-family: inherit;
  margin-right: 10px;
  margin-left: -50px;
}
.Passwordform-forgotpass {
  height: 32px;
  width: 160px;
  font-family: inherit;
  margin-right: 10px;
}
.login-btn {
  height: 38px;
  width: 60px;
  font-family: inherit;
  margin-right: 10px;
  background-color: #1877f2;
  color: white;
  border-radius: 4px;
  border-width: 0px;
  font-size: medium;
}
.forgotten-account-link {
  text-decoration: none;
  color: #1877f2;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  line-height: 1.34;
  border: none;
}
.main-content-forgotpass {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.container-forgotpass {
  background-color: white;
  height: 35vh;
  width: 35vw;
  padding: 15px;
  border-radius: 4px;
}
.container-forgotpass > h2 {
  margin-top: 2px;
}
.container-paragraph-forgotpass {
  font-size: large;
}
.container-forgotpass-border {
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #dddfe3;
  padding-bottom: 6px;
}
.containermain-forgotpass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: column;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  border-width: 1px;
}
.textbox-forgotpass {
  width: 98%;
  height: 50px;
  text-align: left;
  font-size: 16px;
  color: black;
  border-radius: 5px;
  border-width: 1px;
  border-color: #959ba7;
}
.button-search-forgotpass {
  background-color: #1877f2;
  color: white;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  margin: 5px;
  border-width: 0px;
}
.button-cancel-forgotpass {
  height: 40px;
  width: 80px;
  border-radius: 5px;
  margin: 5px;
  border-width: 0px;
}
.buttons-forgotpass {
  text-align: end;
}
.split1-signup {
  display: flex;
}
.Dob-signup {
  border-radius: 4px;
  color: #1c1e21;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  height: 36px;
  line-height: 20px;
  margin-left: 10px;
  padding: 0px 20px 0px 0px;
}
.date-signup {
  height: 30px;
  width: 80px;
  margin-right: 10px;
}
.day-signup {
  height: 30px;
  width: 80px;
  margin-right: 10px;
}
.year-signup {
  height: 30px;
  width: 80px;
}
.header-signup {
  border-radius: 8px 8px 0px 0px;
  padding: 2px 16px;
  background-color: #fff;
  font-size: 12px;
}
.body-signup {
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #dddfe3;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  width: 432px;
  display: block;
  text-align: left;
}
.error-message-signup {
  color: #be5753;
  padding: 15px;
}
.split1-signup {
  width: 170px;
  padding: 10px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  background-color: transparent;
  border-radius: 2px;
}
.split1-signup-1 {
  height: 25px;
}
.split1-signup-2 {
  height: 25px;
  margin-left: -20px;
}
.split2-signup {
  padding: 2px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  background-color: transparent;
  border-radius: 2px;
}
.split2-signup-1 {
  width: 90%;
  margin-left: 8px;
  height: 25px;
}
.split2-signup-2 {
  width: 90%;
  margin-left: 8px;
  height: 25px;
  margin-top: 13px;
}
.main-signup {
  display: flex;
  justify-content: center;
}
.inner-signup {
  margin-top: 25px;
}
.dob-head-signup {
  margin: 10px;
  font-size: 15px;
  color: #606770;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
}
.dateofbirth-signup {
  display: flex;
}
.Signup-btn {
  background-color: #36a420;
  color: white;
  height: 36px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  line-height: 40spx;
  padding: 0 16px;
  cursor: pointer;
  text-align: center;
  width: 200px;
  margin-left: 90px;
}
.gender-head-signup {
  margin: 9px;
  font-size: 15px;
  color: #606770;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
}
.Gender-signup {
  display: flex;
}
.profile-main-page {
  display: flex;
  flex-direction: column;
}
.profile {
  display: flex;
}
.profile-left {
  position: static;
}
.left-header-profilepage {
  width: 60px;
  background-color: white;
  height: 100vh;
  border-right: 1px solid #dddfe3;
  box-sizing: border-box;
}
.profile-head {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.cover-img {
  height: 400px;
  width: auto;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  cursor: pointer;
}
.profileheader {
  background-color: white;
  margin-left: 60px;
  margin-right: auto;
  height: 650px;
  margin-top: 20px;
}
.profile-img2 {
  height: 180px;
  margin-left: 228px;
  margin-top: -30px;
  border-radius: 95px;
  border: 5px solid #ffffff;
  cursor: pointer;
}
.profile-head2 > h1 {
  font-family: inherit;
  margin-top: -130px;
  margin-left: 420px;
  cursor: default;
}
.profile-head2 > p {
  font-family: inherit;
  margin-top: -15px;
  margin-left: 420px;
}
.profile-body {
  display: flex;
  flex-direction: row;
}
.container-1 {
  background-color: white;
  margin-left: 200px;
  margin-top: 20px;
  width: 400px;
  padding: 8px;
  border-radius: 3px;
}
.profile-img-container-2 {
  height: 40px;
  width: 38px;
  border-radius: 25px;
}
.friendslist {
  background-color: white;
  width: 70%;
  height: 100vh;
  margin-left: 250px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
}
.nav-tags {
  text-decoration: none;
  color: #65676b;
  margin: 8px;
}
.friendslist-container {
  display: flex;
  flex-direction: row;
}
.friendslist-container1 {
  display: flex;
  width: 50%;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
  border-width: 0.5px;
  border-color: #e0e4e9;
  border-style: solid;
  margin: 5px;
  padding: 15px;
}
.friendslist-image {
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
}
.friendslist-container2 {
  display: flex;
  width: 50%;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
  border-width: 0.5px;
  border-color: #e0e4e9;
  border-style: solid;
  margin: 5px;
  padding: 15px;
}
.para-container {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 7px;
}
.header-container {
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 7px;
  cursor: pointer;
}
.friends-homepage {
  color: #65676b;
  display: flex;
}
.see-all-homepage {
  color: #1877f2;
  margin-left: 180px;
  margin-top: 20px;
  text-decoration: none;
}
.coverimg-btn {
  margin-left: 950px;
  display: flex;
  height: 36px;
  width: 450px;
  font-family: inherit;
}
.addtostory-btn {
  margin-right: 10px;
  background-color: #1877f2;
  color: #ffffff;
  width: 135px;
  border: none;
  border-radius: 6px;
  font-size: medium;
  cursor: pointer;
}
.editprofile-btn {
  width: 135px;
  border: none;
  border-radius: 6px;
  font-size: medium;
  cursor: pointer;
}
.nav-mainhead {
  text-decoration: none;
  color: #65676b;
  margin-left: 20px;
}
.friends-heading {
  display: flex;
  margin-top: 15px;
}
.line-head {
  border: 1px solid #dddfe3;
  margin-left: 210px;
  border-width: 0.5px;
  margin-top: 30px;
  margin-right: 130px;
}
.dot-btn {
  border: none;
  border-radius: 8px;
  font-weight: bold;
  height: 36px;
  width: 50px;
  color: black;
  margin-left: 535px;
  cursor: pointer;
}
.friends-heading1 {
  margin-left: 200px;
}
.header-class {
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 999;
  background-color: white;
  border-bottom: 1px solid #dddfe3;
  margin: 0;
  overflow: hidden;
}
.container-1 {
  display: flex;
}
.title-header {
  color: #1877f2;
  margin-top: -20px;
  margin-left: -180px;
  cursor: pointer;
}
.fa-brands {
  margin-top: -8px;
  color: #1c1e21;
  border-radius: 25px;
  background-color: #f0f2f5;
  height: 40px;
  width: 38px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}
.fa-solid {
  margin-top: -8px;
  color: black;
  border-radius: 25px;
  background-color: #f0f2f5;
  height: 40px;
  width: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  cursor: pointer;
}
.left-portion-proflepage {
  width: 4%;
  background-color: white;
  border-bottom: 1px solid #dddfe3;
  height: 100vh;
  display: flex;
  position: fixed;
  margin-top: 55px;
}
.container-1 {
  display: flex;
}
.coverimg {
  display: flex;
  justify-content: center;
}
.cover-img {
  height: 400px;
  width: auto;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  cursor: pointer;
}
.title-decoration {
  text-decoration: none;
}
.container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 130px;
  margin-top: 15px;
}
.container-2-homepage {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 50px;
}
.icon {
  margin-left: -220px;
}
.bell {
  margin-left: 8px;
}
.pic1 {
  margin-left: 8px;
}
.title-header {
  color: #1877f2;
  cursor: pointer;
}
.search-homepage::placeholder {
  padding: 20px;
}
.fa-search {
  margin-top: -17px;
  margin-left: 14px;
  background-color: #f0f2f5;
  height: 40px;
  width: 38px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  color: #65676b;
  cursor: pointer;
}
.profile-img {
  height: 40px;
  width: 38px;
  border-radius: 25px;
  margin-top: -8px;
  cursor: pointer;
}
.Container-coverimg {
  background-color: white;
  height: 650px;
  width: 100%;
  margin-left: 61px;
  margin-top: 55px;
}
.page1 {
  display: flex;
}
.profile-img2 {
  height: 170px;
  margin-left: 175px;
  margin-top: -30px;
  border-radius: 95px;
  border: 4px solid #ffffff;
  cursor: pointer;
}
.img-des > h1 {
  font-family: inherit;
  margin-top: -130px;
  margin-left: 360px;
  cursor: default;
}
.img-des > p {
  font-family: inherit;
  margin-top: -15px;
  margin-left: 360px;
}
.btn-profileimg {
  display: flex;
  height: 36px;
  width: 450px;
  margin-left: 68%;
}
.addtostory-btn {
  margin-right: 10px;
  background-color: #1877f2;
  color: #ffffff;
  width: 135px;
  border: none;
  border-radius: 6px;
  font-size: medium;
  cursor: pointer;
}
.editprofile-btn {
  width: 125px;
  border: none;
  border-radius: 6px;
  font-size: medium;
  cursor: pointer;
}
.line-bellow-img {
  border: 1px solid #dddfe3;
  margin-left: 180px;
  border-width: 0.2px;
  margin-top: 30px;
  margin-right: 130px;
}
.nav-tags-profile {
  display: flex;
}
.navigation-main-profile {
  margin-left: 170px;
  margin-top: 20px;
}
.nav-mainhead {
  text-decoration: none;
  color: #65676b;
  margin-left: 20px;
  font-size: 18px;
  font-family: inherit;
}
.dot-btn {
  border: none;
  border-radius: 8px;
  font-weight: bold;
  height: 36px;
  width: 50px;
  color: black;
  margin-left: 520px;
  cursor: pointer;
  margin-top: 15px;
}
.friends-head {
  background-color: white;
  width: 71%;
  height: 100vh;
  margin-left: 250px;
  padding: 10px;
  border-radius: 8px;
  margin-top: -125px;
}
.nav-tags {
  text-decoration: none;
  color: #65676b;
  margin: 8px;
  font-size: 18px;
  font-family: inherit;
}
.friendslist-container {
  display: flex;
  flex-direction: row;
}
.friendslist-container1 {
  display: flex;
  width: 50%;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
  border-width: 0.5px;
  border-color: #e0e4e9;
  border-style: solid;
  margin: 5px;
  padding: 15px;
}
.friendslist-image {
  height: 80px;
  border-radius: 10px;
}
.header-container {
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 7px;
}
.para-container {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 7px;
}
.friendslist-container2 {
  display: flex;
  width: 50%;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
  border-width: 0.5px;
  border-color: #e0e4e9;
  border-style: solid;
  margin: 5px;
  padding: 15px;
}
.friendslist-image {
  height: 80px;
  border-radius: 10px;
}
.header-container {
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 7px;
}
.container1-homepage {
  display: flex;
  margin-right: 500px;
  flex-direction: row;
}
.search-homepage {
  width: 590px;
  height: 39px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 20px;
  border: none;
  margin-left: 138px;
  background-color: #f0f2f5;
  color: #434346;
  outline: none;
}
.search-icon-home {
  margin-top: 16px;
  font-size: 20px;
  color: #606770;
}
.left-portion-Homepage {
  position: absolute;
  left: 350px;
  display: flex;
}
.side-section {
  background-color: #f0f2f5;
  position: fixed;
  margin-top: 55px;
  height: 100vh;
}
.left-top-1 {
  display: flex;
  flex-direction: row;
}
.house {
  background-color: transparent;
  color: #1877f2;
  padding-top: 15px;
  font-size: 18px;
  margin-left: 12px;
}
.left-top-1 > p {
  padding-top: 4px;
  font-size: 16px;
  cursor: pointer;
}
.profile-img-homepage {
  height: 24px;
  width: 23px;
  border-radius: 22px;
  margin-left: 19px;
  cursor: pointer;
}
.name-home-left {
  margin-top: -2px;
  margin-left: 7px;
}
.line-homepage {
  border-bottom: 1px solid #ced0d4;
  width: 280px;
  margin-left: 15px;
}
.video-logo-home {
  margin-top: 12px;
  font-size: 25px;
  margin-left: 15px;
  cursor: pointer;
}
.watch-txt {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}
.housebtn {
  margin-left: 17px;
  color: #1877f2;
  font-size: 25px;
  margin-top: 13px;
  cursor: pointer;
}
.icons-left {
  margin-top: 5px;
}
.Marketplace-txt {
  margin-top: -2px;
  margin-left: 7px;
  cursor: pointer;
}
.gamingbtn {
  margin-left: 17px;
  color: #1877f2;
  font-size: 25px;
  margin-top: 13px;
  cursor: pointer;
}
.see-allbtn {
  margin-left: 17px;
  font-size: 25px;
  margin-top: 13px;
  cursor: pointer;
}
.head-body-homepage {
  background-color: white;
  height: 300px;
  width: 600px;
  margin-right: 340px;
  margin-top: 20px;
  border-radius: 8px;
}
.head-feed-homepage {
  display: flex;
  justify-content: space-evenly;
}
.head-feed-homepage > h3 {
  color: #65676b;
}
.head-body-middleline {
  border-bottom: 0.1px solid #ced0d4;
}
.feed-body-main {
  display: flex;
  cursor: pointer;
}
.body-feed-homepage {
  display: flex;
  flex-direction: row;
  background-color: #ced0d4;
  height: 200px;
  width: 120px;
  margin: 15px;
  border-radius: 10px;
}
.after-like {
  color: #1877f2;
  background-color: transparent;
  border: transparent;
  font-size: 20px;
}
.img {
  height: 200px;
  width: 120px;
  border-radius: 10px;
}
.img:hover {
  transform: scale(1.07);
}
.middle2-homepage {
  background-color: white;
  height: 125px;
  width: 600px;
  margin-top: 15px;
  border-radius: 10px;
}
.middle-head-homepage {
  display: flex;
}
.profile-img-headfeed {
  height: 40px;
  width: 38px;
  border-radius: 25px;
  margin-top: 10px;
  margin-left: 15px;
}
.input-boxhead-home {
  width: 510px;
  height: 40px;
  font-size: 15px;
  border-radius: 20px;
  margin-top: 10px;
  border-radius: 20px;
  margin-left: 10px;
  border: none;
  line-height: 5px;
  background-color: #f0f2f5;
  color: #434346;
  outline: none;
}
.line-middlepage {
  border-bottom: 1px solid #ced0d4;
  width: 560px;
  margin-top: 10px;
  margin-left: 18px;
}
.txt-down {
  display: flex;
  justify-content: space-evenly;
  color: #65676b;
}
.main-post-homepage {
  height: auto;
  width: 600px;
  background-color: white;
  border-radius: 15px;
  margin-top: 18px;
  padding-bottom: 10px;
}
.head-main-post-homepage {
  display: flex;
}
.head-text-homepage > p {
  margin-top: -3px;
  font-size: 17px;
}
.img-top-homepage {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  margin-top: 10px;
  margin-left: 15px;
}
.img-top {
  display: flex;
}
.img-top > p {
  margin-left: 8px;
}
.img-top > button {
  margin-left: 350px;
  font-size: 30px;
  color: #65676b;
  border: none;
  outline: none;
  background-color: white;
  padding: none;
  cursor: pointer;
}
.head-text-homepage {
  padding: 15px;
}
.navigate-home {
  text-decoration: none;
}
.href-link {
  text-decoration: none;
  color: #1877f2;
}
.hash-tags {
  color: #1877f2;
}
.img-main-post {
  margin-top: -16px;
  width: 100%;
  /* height: 320px; */
  cursor: pointer;
}
.main-like {
  display: flex;
}
.main-like > p {
  color: #65676b;
  margin-left: -6px;
}
.like-btn-post {
  width: 18px;
  padding: 13px;
}
.like-btn-name {
  margin-top: 10px;
}
.like-symbol {
  margin-top: 6px;
}
.like-btn {
  height: 40px;
  border: none;
  background-color: transparent;
  font-size: 18px;
}
.comment-btn {
  height: 40px;
  border: none;
  background-color: transparent;
  font-size: 18px;
}
.Center-Managefriends {
  display: flex;
  flex-direction: row;
}

.FriendRequest-page-container {
  display: flex;
  flex-direction: row;
}
.FriendRequest-page-names {
  margin-top: 80px;
  margin-left: 36px;
  font-size: 20px;
}
.FriendsRequest-Container {
  display: flex;
  height: 370px;
  width: auto;
  background-color: white;
  border: none;
  border-radius: 12px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.leftsection-Managefriends {
  position: sticky;
  width: 350px;
  background-color: white;
  color: #1c1e21;
  margin-left: 56px;
  border-left: 1px solid #ced0d4;
  margin-top: 55px;
}
.rightsection-Managefriends{
  display: flex;
  flex-direction: column;
}
.share-btn {
  height: 40px;
  border: none;
  background-color: transparent;
  font-size: 18px;
}
.FriendRequest-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  width: 1000px;
}
.share-symbol {
  margin-top: 7px;
}
.comment-symbol {
  margin-top: 7px;
}
.border-mainlike {
  border-bottom: 1.2px solid #ced0d4;
  width: 96%;
  margin-left: 10px;
  margin-top: -2px;
}
.like-symbol {
  display: flex;
}
.post-btns {
  display: flex;
  justify-content: space-around;
}
.comment-section {
  display: flex;
}
.img-comment-main {
  height: 35px;
  width: 34px;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 15px;
}
.input-commentbox {
  width: 520px;
  height: 34px;
  margin-left: 4px;
  margin-top: 12px;
  border-radius: 20px;
  border: none;
  background-color: #f0f2f5;
  color: #434346;
  outline: none;
}
.comments-list {
  margin-left: -500px;
  margin-top: 50px;
  color: #434346;
}

.feed-maincontent-homepage {
  margin-right: 40px;
  margin-top: 55px;
}
.right-section-homepage {
  display: flex;
  margin-left: 70px;
  margin-top: 50px;
  height: 100vh;
}

.topright-section-homepage {
  margin-left: -350px;
  position: fixed;
  height: 100vh;
}
.topright-section-homepage > h5 {
  font-size: 18px;
  color: #646566;
}
.addtop-1 {
  display: flex;
}
.add-1 {
  height: 135px;
  background-color: white;
  border-radius: 10px;
}
.addtop-1 > p {
  margin-top: 50px;
  margin-left: 6px;
  color: #646566;
}
.add-2 {
  height: 135px;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
}
.houseicon {
  background-color: transparent;
  margin: 10px;
  text-decoration: none;
}
.profile-img-profilepage {
  height: 25px;
  width: 24px;
  border-radius: 24px;
  margin-left: 16px;
}
.lineunder-profileleft {
  margin-top: 18px;
  border-bottom: 0.2px solid #ced0d4;
  margin-left: 14px;
  margin-right: 14px;
}
.image-container {
  height: 230px;
  width: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.image-name-container {
  padding: 10px;
  margin-top: -5px;
}
.btn-conform-request {
  margin-left: 10px;
  width: 90%;
  height: 35px;
  color: white;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  margin-top: -5px;
  cursor: pointer;
}
.btn-Delete-request {
  margin-left: 10px;
  width: 90%;
  height: 35px;
  color: black;
  background-color: #e4e6eb;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  margin-top: 5px;
  cursor: pointer;
}
.above-line-mutual{
  border:1px solid #ced0d4;
  width: 98%;
  margin-left: 10px;
}
.mutual-friends h3{
  margin-left: 20px;
}
.heading-mutualfriends{
  display: flex;
}
.heading-mutualfriends a{
  margin-left: 760px;
  margin-top: 18px;
  text-decoration: none;
  color: #1877f2;
  font-size: 18px;
}
body.error-page{
  background-color: #e4e6eb;
  color: black;
}
.video-logo-home2{
  font-size: 25px;
  margin-left: 15px;
  cursor: pointer;
}
.housebtn-profile{
  margin-left: 15px;
  color: #1877f2;
  font-size: 22px;
  cursor: pointer;
}
.gamingbtn2{
  margin-left: 15px;
  color: #1877f2;
  font-size: 25px;
  cursor: pointer;
}
.see-allbtn2{
  margin-left: 15px;
  font-size: 22px;
  margin-top: 13px;
  cursor: pointer;
}
.headings-left-managefriends{
  margin-left: 15px;
  font-size: 14px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#7d7d7d ;
  cursor: pointer;
}
.headings-left-managefriends h2 {
  height: 35px;
}
.headings-left-managefriends h2:hover{
  width: 90%;
  height: 35px;
  border-radius: 7px;
  background-color: #f0f2f5 ;
  transform: translateZ(0);
}
.leftsection-Managefriends h1{
  margin-left: 15px;
  font-size: 26px;
  font-family:serif;
}
